
      <h1 class="display-4 titre">{{title}}</h1>
     

<div class="ajouter form-inline">
<input class="form-control inputAjouter" type="text" #newTodo/>
<button (click)="addTodo(newTodo.value); newTodo.value=''" class="btn btn-light boutonAjouter" >Add</button>
</div>

<!-- Ici c'est un test pour le text et bouton ajouter. -->






<table class="table table2">

  <thead class="thead-dark">

<tr>

<th scope="col">List</th>
<th scope="col">Done</th>
<th scope="col">Actions</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let todo of todos">

  <td>{{todo.label}}</td>
  <td>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
         
          </label>
        </div>
  </td>
  <td>
    <button (click)="deleteTodo(todo)" class="btn btn-light">Delete</button>
  </td>


</tr>
</tbody>
</table>


{{todo.done ? '&#10003;': '&#10005;'}}


