.table2{

    position: absolute; 
    
    width: 50%;
    top: 20%;
    left: 20%;
    margin: 4%;

    
}

.ajouter{

    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    top: 20%;
   
    width: 50%;
    
}

.titre{

    /* margin: 4%; */
    text-align: center;
    top:10%;
  
}

